@font-face {
  font-family: 'Radioland';
  src: url('font/RADIOLAND.TTF');
}

/* GLOBAL */
:root {
  --PColor: #00eeff;
  --SColor: #007399;
  --GColor: #004c66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000000, var(--GColor), #000000);
  font-family: 'roboto', sans-serif;
  color: var(--PColor);
  padding: 5%;
  height: 100vh;
}

ul {
  list-style: none;
}

/* BODY */
header {
  display: flex;
  justify-content: space-between;
}

#AM,
#calander {
  margin-right: 10px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 20px;
  height: 100%;
  max-width: 1024px;
}

.time {
  display: flex;
  justify-content: center;
  font-family: 'Radioland';
  font-size: 12rem;
}

#sec {
  font-size: 4rem;
  margin: auto 0;
}

.days {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .time {
    font-size: 6rem;
  }

  #sec {
    font-size: 2.5rem;
  }
}
